<!DOCTYPE html>
<html>
    <head>
        <title>Login Demo Page</title>
    </head>
    <body>
    <form action="/user_login" method="POST">
            <h2>User Login</h2>
            <hr/>
            <label for="username">username</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required><br><br>

            <input type="submit" value="Login">
    </form>
        <a href="/user_signup">Don't have an account? Sign Up</a>
    </body>
</html>