<!DOCTYPE html>
<html>
<head>
    <title>Update Ticket</title>
</head>
<body>
    <h1>Update Ticket</h1>
    <div>
        <form action="/update_ticket" method="POST">

            <label for="ticket_id">ticket_id</label>
            <input type="text" id="ticket_id" name="ticket_id" required><br><br>
            <label for="date">date</label>
            <input type="date" id="date" name="date" required><br><br>


            <button type="submit">update Ticket</button><br><br>
        </form>
    </div>
</body>
</html>




